In [1]:
import pandas as pd
import string
import nltk

In [2]:
from nltk.corpus import stopwords
stopwords = stopwords.words('english')

In [3]:
df = pd.read_csv('D:\Kaggle\Classification\SPAM\spam_ham_dataset.csv')

In [4]:
#size of data
df.shape

(5171, 4)

In [5]:
#drop dublicate
df.drop_duplicates()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [6]:
#size of data
df.shape

(5171, 4)

In [7]:
# first five row of data 
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [8]:
df.isna().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [9]:
# drop unnecessary col's
df = df[['text', 'label_num']]
df

                                                   text  label_num
0     Subject: enron methanol ; meter # : 988291\r\n...          0
1     Subject: hpl nom for january 9 , 2001\r\n( see...          0
2     Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     Subject: photoshop , windows , office . cheap ...          1
4     Subject: re : indian springs\r\nthis deal is t...          0
...                                                 ...        ...
5166  Subject: put the 10 on the ft\r\nthe transport...          0
5167  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169  Subject: industrial worksheets for august 2000...          0
5170  Subject: important online banking alert\r\ndea...          1

[5171 rows x 2 columns]

In [10]:
#drop puctuation and stopwords from each string
def text_proccesing(text):
    nopunct = [char for char in text if char not in string.punctuation]
    nopunct = ''.join(nopunct)
    stop_words = [word for word in nopunct.split() if word.lower() not in stopwords]
    
    return stop_words

In [11]:
df['text'].head().apply(text_proccesing)

0    [Subject, enron, methanol, meter, 988291, foll...
1    [Subject, hpl, nom, january, 9, 2001, see, att...
2    [Subject, neon, retreat, ho, ho, ho, around, w...
3    [Subject, photoshop, windows, office, cheap, m...
4    [Subject, indian, springs, deal, book, teco, p...
Name: text, dtype: object

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(analyzer=text_proccesing).fit_transform(df['text'])

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(bow, df['label_num'], test_size = 0.2, random_state = 0)

In [14]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(X_train, y_train)

In [15]:
#predictions 
pred = classifier.predict(X_train)

In [16]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
print(f'Accuracy score for train data is: {round(accuracy_score(y_train, pred), 2)}')
print()
print(classification_report(y_train, pred))

Accuracy score for train data is: 0.99

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      2940
           1       0.98      0.97      0.98      1196

    accuracy                           0.99      4136
   macro avg       0.99      0.98      0.98      4136
weighted avg       0.99      0.99      0.99      4136

In [17]:
test_pred = classifier.predict(X_test)
print(f'Accuracy score for test data is: {round(accuracy_score(y_test, test_pred), 2)}')
print()
print(classification_report(y_test, test_pred))

Accuracy score for test data is: 0.97

              precision    recall  f1-score   support

           0       0.98      0.98      0.98       732
           1       0.95      0.96      0.96       303

    accuracy                           0.97      1035
   macro avg       0.97      0.97      0.97      1035
weighted avg       0.97      0.97      0.97      1035